@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');

body {
	font-family: 'Expletus Sans', sans-serif;
}
ul {
	list-style-type: disc;
}

ul li {
	font-size: 14px;
	margin-bottom: 8px;
	color: #d8d5d5;
}

/* Стилі для посилань-кнопок home-page*/
.button-link {
	display: inline-block;
	padding: 0;
	border: none;
	background: none;
}

.button-link img {
	vertical-align: middle;
	width: 30px;
	height: auto;
}

.button-link:hover img {
	opacity: 0.8;
}

/* Стилі фонових градієнтів */
body.index {
	background: linear-gradient(to bottom, #484848, #9b9a9a);
	color: #ffffff;
}

body.louvre {
	background: linear-gradient(to bottom, #f04040, #8984c5);
	color: #333333;
}

body.greece {
	background: linear-gradient(to bottom, #b4b2ee, #e0e0e0);
	color: #333333;
}

body.british-museum {
	background: linear-gradient(to bottom, #f07777, #95b0ea);
	color: #333333;
}

/* Стиль для всіх посилань */
a {
	display: inline-block;
	padding: 5px 5px; /* Відступи від тексту */
	background-color: #dadada;
	color: #000000;
	text-decoration: none;
	border-radius: 15px;
	transition: background-color 0.3s ease;
}

/* Стиль для посилань при наведенні */
a:hover {
	background-color: #a2a2a2;
}

/* Стиль для спеціального параграфу */
.special-paragraph {
	color: red !important;
}

/* Стиль для плаваючого фрейму */
#floatingFrame {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;
	border: 5px solid #000000;
	background-color: #8d8383;
}

/* Стиль для таблиць */
.exhibit-table {
	display: table;
	width: 50%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.row {
	display: table-row;
}

.exhibit {
	display: table-cell;
	padding: 10px;
	border: 3px solid #ccc;
	text-align: center;
}

.exhibit img {
	max-width: 100px;
	height: auto;
}

.exhibit a {
	text-decoration: none;
}

/* Context */
div {
	color: blue;
}
/* Neighbor */
h2 + p {
	font-weight: bold;
}
