body {
	background-image: url('/images/fone.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #d7f8d3;
	font-family: 'Protest Strike', sans-serif;
	h1 {
		font-size: 80px;
	}
	h2 {
		font-size: 60px;
	}
}

.museum {
	margin: 20px; /* Відступи навколо кожного музею */
	text-align: center;
	transition: transform 0.3s ease;
	position: relative; /* Використовуємо позиціонування для тексту поверх зображення */
}

.museum img {
	display: block;
	opacity: 0.5; /* Значення прозорості за замовчуванням */
	transition: opacity 0.3s ease; /* Анімація зміни прозорості */
}

.museum:hover img {
	opacity: 1; /* Зменшуємо прозорість при наведенні */
}

.museum figcaption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px; /* Збільшуємо розмір тексту */
	color: #000000; /* Колір тексту */
	text-align: center; /* Вирівнюємо текст по центру */
	opacity: 0; /* Зробимо текст невидимим за замовчуванням */
	transition: opacity 0.3s ease; /* Анімація зникнення/появи тексту */
}

.museum:hover figcaption {
	opacity: 1; /* Текст стає видимим при наведенні */
}
