body {
	background-image: url('/images/fone.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #d7f8d3;
	font-family: 'Protest Strike', sans-serif;
	h1 {
		font-size: 80px;
	}
	h2 {
		font-size: 60px;
	}
}

.museum {
	margin: 20px;
	text-align: center;
	transition: transform 0.3s ease;
	position: relative;
}

.museum img {
	display: block;
	opacity: 0.5;
	transition: opacity 0.3s ease;
}

.museum:hover img {
	opacity: 1;
}

.museum figcaption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
	color: #000000;
	text-align: center;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.museum:hover figcaption {
	opacity: 1;
}
